 .question {
        padding: 5px;
        margin: 5px;
        /* border: 1px solid #6ce9f2; */
        border-radius: 5px;
        cursor: default;
        transition: background-color 0.3s;
        width: auto;
        max-width: 50vw;
        height: auto;
        padding: 20px 20px 0px 20px;
        /* color: yellow; */
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 

          /* From https://css.glass */
        background: rgba(51, 43, 43, 0.35);
        border-radius: 5px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    img {
        max-width: 35em;
        max-height: 17.5em;

        min-width: 20em;
        min-height: 15em;
        
        border-radius: 3%;
    }

    /* Mobile responsive */
    @media (max-width: 768px) {
        img {
            max-width: 90vw;
            max-height: 45vw;
            min-width: 250px;
            min-height: 200px;
            width: auto;
            height: auto;
        }
    }